<div class="row">
  <div class="col-lg-12">
    <h4>Sender : <%= @sender.name %></h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    Total Shipments : <%= @total_shipments %>
  </div>
</div>
