/* This file is for your main application css. */
.logo {
  width: 185px;
  height: 64px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/shypchoice.png");
  background-size: 100%;
}

.alert:empty{
  display: none;
}
