<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShypChoice</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="navbar navbar-light navbar-expand-lg bg-light">
          <a href="/" class="navbar-brand">ShypChoice</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>

            <%= render "menu.html", current_user: @current_user, conn: @conn %>
          </div>
        </nav>
      </header>

      <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <%= render "footer.html" %>
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
